In [1]:
from generate_dataset import save_race_data
from netkeiba_scraper.load import RaceIDLoader
import pandas as pd

In [2]:
raceid_loader = RaceIDLoader()
race_ids = raceid_loader.get_race_ids_in_period(start_year=2024, start_month=1, end_year=2024, end_month=2)
raceid_loader.close()
race_ids5 = race_ids[:5]
race_ids5

Fetching race IDs for 2024/1 ...
Found 288 race IDs.

Fetching race IDs for 2024/2 ...
Found 288 race IDs.

['202405010101',
 '202405010102',
 '202405010103',
 '202405010104',
 '202405010105']

In [3]:
save_race_data(race_ids5, output_path="race_data.jsonl", workers=4)

[INFO] Starting to process 5 races using 4 workers...
[INFO] Skipping 0 races already processed.
[PROGRESS] 1/5 races done.
[PROGRESS] 2/5 races done.
[PROGRESS] 3/5 races done.
[PROGRESS] 4/5 races done.
[PROGRESS] 5/5 races done.
[DONE] Finished saving race data.

In [4]:
df = pd.read_json("race_data.jsonl", lines=True)
df.head()

,id,race_number,race_date,race_time,type,length,handed,weather,condition,place,...,race2_rank,race2_jockey_id,race2_burden,race2_type,race2_length,race2_condition,race2_rap_time,race2_passage_rank,race2_last_3f,race2_prize
0,202405010104,4,2024-01-27,2025-08-23 11:35:00,ダート,1600,左,晴,良,東京,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202405010104,4,2024-01-27,2025-08-23 11:35:00,ダート,1600,左,晴,良,東京,...,5.0,1077.0,55.0,ダ,1200.0,良,74.3,8-8,35.5,0.0
2,202405010104,4,2024-01-27,2025-08-23 11:35:00,ダート,1600,左,晴,良,東京,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,202405010104,4,2024-01-27,2025-08-23 11:35:00,ダート,1600,左,晴,良,東京,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,202405010104,4,2024-01-27,2025-08-23 11:35:00,ダート,1600,左,晴,良,東京,...,1.0,1197.0,55.0,ダ,1800.0,稍,115.4,4-3-3-4,36.5,0.0

In [5]:
df.iloc[0, :36]

id                     202405010104
race_number                       4
race_date                2024-01-27
race_time       2025-08-23 11:35:00
type                            ダート
length                         1600
handed                            左
weather                           晴
condition                         良
place                            東京
days                              1
head_count                       14
max_prize                       780
rank                              1
bracket                           8
horse_number                     14
horse_id                 2021110060
gender                            牡
age                               3
burden                           57
jockey_id                      1088
rap_time                       98.0
diff_time                       0.0
passage_rank                    6-6
last_3f                        38.4
win_odds                        4.1
weight                          556
weight_diff                       4
trainer_id                     1126
prize                           780
father_id                000a0125a7
mother_id                000a01d0d5
f_father_id              000a010cdf
f_mother_id              000a0125ed
m_father_id              000a011200
m_mother_id              000a0141f8
Name: 0, dtype: object